# Git files
.git/
.gitignore

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
env/
*.egg-info/
dist/
build/
# for my reference
\app\wholecode

# OS files
.DS_Store
Thumbs.db

# Log files
*.log